.ilch-lg-1,.ilch-lg-10,.ilch-lg-11,.ilch-lg-12,.ilch-lg-2,.ilch-lg-3,.ilch-lg-4,.ilch-lg-5,.ilch-lg-6,.ilch-lg-7,.ilch-lg-8,.ilch-lg-9,
.ilch-md-1,.ilch-md-10,.ilch-md-11,.ilch-md-12,.ilch-md-2,.ilch-md-3,.ilch-md-4,.ilch-md-5,.ilch-md-6,.ilch-md-7,.ilch-md-8,.ilch-md-9,
.ilch-sm-1,.ilch-sm-10,.ilch-sm-11,.ilch-sm-12,.ilch-sm-2,.ilch-sm-3,.ilch-sm-4,.ilch-sm-5,.ilch-sm-6,.ilch-sm-7,.ilch-sm-8,.ilch-sm-9,
.ilch-xs-1,.ilch-xs-10,.ilch-xs-11,.ilch-xs-12,.ilch-xs-2,.ilch-xs-3,.ilch-xs-4,.ilch-xs-5,.ilch-xs-6,.ilch-xs-7,.ilch-xs-8,.ilch-xs-9
{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
}
.ilch-xs-1,.ilch-xs-10,.ilch-xs-11,.ilch-xs-12,.ilch-xs-2,.ilch-xs-3,.ilch-xs-4,.ilch-xs-5,.ilch-xs-6,.ilch-xs-7,.col-xs-8,.ilch-xs-9
{
  float:left
}
.ilch-xs-12{width:100%}
.ilch-xs-11{width:91.66666667%}
.ilch-xs-10{width:83.33333333%}
.ilch-xs-9{width:75%}
.ilch-xs-8{width:66.66666667%}
.ilch-xs-7{width:58.33333333%}
.ilch-xs-6{width:50%}
.ilch-xs-5{width:41.66666667%}
.ilch-xs-4{width:33.33333333%}
.ilch-xs-3{width:25%}
.ilch-xs-2{width:16.66666667%}
.ilch-xs-1{width:8.33333333%}

@media (min-width:768px){
  .ilch-sm-1,.ilch-sm-10,.ilch-sm-11,.ilch-sm-12,.ilch-sm-2,.ilch-sm-3,.ilch-sm-4,.ilch-sm-5,.ilch-sm-6,.ilch-sm-7,.col-sm-8,.ilch-sm-9
  {
    float:left
  }
  .ilch-sm-12{width:100%}
  .ilch-sm-11{width:91.66666667%}
  .ilch-sm-10{width:83.33333333%}
  .ilch-sm-9{width:75%}
  .ilch-sm-8{width:66.66666667%}
  .ilch-sm-7{width:58.33333333%}
  .ilch-sm-6{width:50%}
  .ilch-sm-5{width:41.66666667%}
  .ilch-sm-4{width:33.33333333%}
  .ilch-sm-3{width:25%}
  .ilch-sm-2{width:16.66666667%}
  .ilch-sm-1{width:8.33333333%}
}

@media (min-width:992px){
  .ilch-md-1,.ilch-md-10,.ilch-md-11,.ilch-md-12,.ilch-md-2,.ilch-md-3,.ilch-md-4,.ilch-md-5,.ilch-md-6,.ilch-md-7,.col-md-8,.ilch-md-9
  {
    float:left
  }
  .ilch-md-12{width:100%}
  .ilch-md-11{width:91.66666667%}
  .ilch-md-10{width:83.33333333%}
  .ilch-md-9{width:75%}
  .ilch-md-8{width:66.66666667%}
  .ilch-md-7{width:58.33333333%}
  .ilch-md-6{width:50%}
  .ilch-md-5{width:41.66666667%}
  .ilch-md-4{width:33.33333333%}
  .ilch-md-3{width:25%}
  .ilch-md-2{width:16.66666667%}
  .ilch-md-1{width:8.33333333%}
 }

 @media (min-width:1200px){
   .ilch-lg-1,.ilch-lg-10,.ilch-lg-11,.ilch-lg-12,.ilch-lg-2,.ilch-lg-3,.ilch-lg-4,.ilch-lg-5,.ilch-lg-6,.ilch-lg-7,.ilch-lg-8,.ilch-lg-9
   {
     float:left
   }
   .ilch-lg-12{width:100%}
   .ilch-lg-11{width:91.66666667%}
   .ilch-lg-10{width:83.33333333%}
   .ilch-lg-9{width:75%}
   .ilch-lg-8{width:66.66666667%}
   .ilch-lg-7{width:58.33333333%}
   .ilch-lg-6{width:50%}
   .ilch-lg-5{width:41.66666667%}
   .ilch-lg-4{width:33.33333333%}
   .ilch-lg-3{width:25%}
   .ilch-lg-2{width:16.66666667%}
   .ilch-lg-1{width:8.33333333%}
 }
