#startpage {
  margin:0px 15px;
}
.start-padding {
  padding:50px 0px;
}
/*-- Heading Area --*/

.section-heading {
  font-size:28px;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.start-heading  {
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.start-content {
  padding:10px 5px;
  border-radius:5px;
  margin: 15px 15px;
}

@media(min-width: 1200px) {
  .stretch {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-content:stretch;
    -ms-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch
  }
}
